$white-background: rgb(245, 245, 245);
$hover-background: rgb(215, 215, 215);

$blue-background: rgb(92, 156, 230);
$blue-hover-background: rgb(58, 133, 219);
$dark-blue-background: rgb(31, 107, 194);

$green-background: rgb(1, 184, 42);
$green-hover-background: rgb(5, 157, 39);
$dark-green-background: rgb(11, 126, 37);

$red-background: rgb(226, 87, 87);
$red-hover-background: rgb(219, 70, 70);
$dark-red-background: rgb(140, 29, 29);

$dark-font-color: rgb(45, 45, 45);
$grey-font-color: rgb(93, 93, 93);
$light-grey-font-color: rgb(185, 185, 185);
$white-font-color: rgb(238, 238, 238);

$panel-shadow: 3px 3px 15px 1px rgba(22, 22, 22, 0.9);


$border: 1px solid rgba(0, 0, 0, 0.1);
