@import "./_shared";

.tree__box {
  .tree__title {
    border-bottom: $border;
    position: relative;
    padding: 20px;

    span {
      color: $grey-font-color;
      font-size: 0.6em;
      text-transform: uppercase;
      font-weight: 600;
    }

    .tree__add-btn {
      position: absolute;
      right: 20px;
    }
  }

  .tree__items {
    padding: 20px 0;
    padding-bottom: 10px;

    .tree__items-not-found {
      font-size: 0.6em;
      text-transform: uppercase;
      color: $light-grey-font-color;
      padding: 0 20px;
    }
  }

  .tree__fixed-items {
    border-top: $border;
    padding-top: 10px;
    margin-top: 20px;
  }
}
